body{
  margin: 0 auto;
 background: black;
}

@media only screen and (min-width:600px){
  .pictures{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 200px 300px;
    grid-gap: 10px;

  }
  .pictures div img{ width:250px; height:250px; opacity:0.8;}
  /* .bgPicture img{ min-width: 100%;} */
}
@media only screen and (min-width:1000px){
  .pictures{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 250px 310px;
    grid-gap: 10px;
  }
  .pictures div img{ width:300px; height:250px;}
  /* .bgPicture img{ min-width: 98%;} */
}
.picture1 { grid-column: 1/2; grid-row: 1/2;}
.picture2 { grid-column: 2/3; grid-row: 1/2;}
.picture3 { grid-column: 3/4; grid-row: 1/2;}
.picture4 { grid-column: 4/5; grid-row: 1/2;}
.bgPicture { grid-column: 1/5; grid-row: 2/3;}
.bgPicture { display: none;}
.bgPicture img{ min-width: 100%; width: auto; height:300px;}
.pictures div img:hover{opacity:1; }
main{ border:5px solid #fff}
.pictures div{
  border:5px solid #fff
}
