body{background:black; opacity:1;}
h1{color: white; text-align: center;}

@media screen and (min-width:360px){
  .pictures{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: minmax(250px,auto) minmax(250px,auto);
      grid-template-areas:
      "first_area second_area third_area fourth_area"
      "fifth_area fifth_area fifth_area fifth_area";
      grid-gap:5px;
      opacity: 1;
  }
}
.pictures div img { transition: .5s; border:1px solid #fff;}
.pictures div img:hover{transform: scale(1.3) rotate(45deg); }
.picture1{ grid-area: first_area;}
.picture2{ grid-area: second_area;}
.picture3{ grid-area: third_area;}
.picture4{ grid-area: fourth_area;}
.bgPicture { grid-area: fifth_area; border:10px solid #fff; }



/*.pictures{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: minmax(250px,auto) minmax(250px,auto);
    grid-gap:5px;
}


.picture1{ grid-column:1/2;grid-row:1/2;}
.picture2{ grid-column:2/3;grid-row:1/2;}
.picture3{ grid-column:3/4;grid-row:1/2;}
.picture4{ grid-column:4/5;grid-row:1/2;}
.bgPicture{ grid-column: 1/5; grid-row: 2/3; border:10px solid black;}*/
